# Node
node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env files
.env
*/.env

# ML artifacts
ml/models_store/*
!ml/models_store/.gitkeep
ml/data/raw/*
!ml/data/raw/.gitkeep
ml/data/processed/*
!ml/data/processed/.gitkeep

# OS / editor
.DS_Store
.vscode/
.idea/
